.footer{
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: #efefef;
  text-align: center;
}

.nav-child{
  background-color:#cce6ff;
  margin-bottom: 5px;
}
